.tool{
    border: 2px solid #AAA;
    border-radius: 10px;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem;
    height: 100%;
    h2{
        text-align: center;
        margin-bottom: 1.0rem;
    }
    input{
        background-color: #555;
        color: #FFF;
        border: 1px solid #FFF;
        border-radius: 3px;
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        padding: 0.375rem;
    }
    input:focus{
        outline: #AAA auto 1px;
    }
    .icon{
        font-size: 2rem;
        margin: 0 0.5rem 0 0.5rem;
    }
    // .saveButton{
    //     width: 75px;
    // }
    .bottomButtons, .icons{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .icon-selected{
        color: #12de48;
    }
    .form-check{
        margin-bottom: 0.35rem;
        // text-align: left;
    }
    // .form-check-input{
    //     font-size: 1.5rem;
    // }
    // .form-check-label{
    //     vertical-align: sub;
    // }
    .checkboxes{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .timeInput{
        width: 58px;
    }
    .timeInput::placeholder{
        color: #AAA;
    }
    .fullDate{
        margin-right: 0.5rem;
    }
    #hkdDollars{
        width: 150px;
    }
    #gbpPounds{
        width: 150px;
    }
    #exchangeRateDisplayed{
        width: 75px;
    }
    #ukYear, #hkYear{
        width: 72px;
    }
}